<!DOCTYPE html>
<html>
  <head>
    <title>Link-in-bio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     <style>
      html {
        min-height: 100%;
      }
      /*
      * {
        border: 1px red dashed;
      }
        */
      body {
        min-height: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        background: linear-gradient(75deg, #ffe799, #ffd582, #ffc174, #ffac70, #ff9677, #ff8287, #ff709d, #ff61b5); /* made at https://learnui.design/tools/gradient-generator.html */
        font-family: "Inter";
      }
      .avatar-image {
        width: 128px;
        height: 128px;
        object-fit: cover;
        border-radius: 128px;
      }
      .thumbnail {
        width: 48px;
        height: 48px;
        border-radius: 48px;
        object-fit: cover;
      }
      .item {
        background-color: rgba(68, 72, 75, 0.18);
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        border-radius: 1000px;
        padding: 5px;
        padding-right: 53px;
        box-shadow: 4px 4px 10px 0px rgba(122,32,122,0.5);
      }
      .main-container {
        max-width: 640px;
        margin: auto;
      }
      .image-row {
        margin-bottom: 20px;
        text-align: center;
      }
      .name-row {
        margin-bottom: 30px;
        text-align: center;
        font-family: "Playwrite AU SA";
        font-size: 24px;
        font-weight: 900;
      }
      .social-icons-row {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-around;
      }
      .link-text {
        text-align: center;
        flex-grow: 1;
      }
      a {
        color: black;
        text-decoration: none;
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+AU+SA:wght@100..400&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
